{% block more_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">        
{% endblock %}

<nav class="menu">
    <ul>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('finder') }}">Finder</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Edit Your Profile Information</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <div class="form-group">
            <label for="pic">Profile Picture:</label>
            <input type="file" class="form-control-file" id="pic" name="pic">
        </div>

        <div class="form-group">
            {{ form.fName.label }}
            {{ form.fName(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.lName.label }}
            {{ form.lName(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.year.label }}
            {{ form.year(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.major.label }}
            {{ form.major(class="form-control") }}
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
