{% block more_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">        
{% endblock %}

<nav class="menu">
    <ul>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('finder') }}">Finder</a></li>
    </ul>
</nav>

<p>Edit the Information on Your Profile </p>

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <input type="file" name="pic"/>
    <p>
        {{ form.fName.label }}<br>
        {{ form.fName(size=32) }}<br>
    </p>
    <p>
        {{ form.lName.label }}<br>
        {{ form.lName(size=32) }}<br>
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}<br>
    </p>
    <p>
        {{ form.major.label }}<br>
        {{ form.major(size=32) }}<br>
    </p>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>

