{% extends "base.html" %}

{% block content %}
<nav class="menu">
    <ul>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('index') }}">Profile</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Find other users here</h1>

    <h2>Find users by your major and class year: {{ current_user.major}} majors in class year {{ current_user.year }}</h2>
    <ul class="user-list">
        {% if has_major_class %}
            {% for user in usersMajorAndClass %}
                <li>
                    <a href="{{ url_for('user_profile', user_id=user.id) }}">
                        {{ user.username }}: {{ user.fName }} {{ user.lName }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>There are no users that fit this category</li>
        {% endif %}
    </ul>

    <h2>Find users by your class year: {{ current_user.year }}</h2>
    <ul class="user-list">
        {% if has_class %}
            {% for user in userClass %}
                <li>
                    <a href="{{ url_for('user_profile', user_id=user.id) }}">
                        {{ user.username }}: {{ user.fName }} {{ user.lName }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>There are no users that fit this category</li>
        {% endif %}
    </ul>

    <h2>Find users by your major: {{ current_user.major }}</h2>
    <ul class="user-list">
        {% if has_major %}
            {% for user in userMajor %}
                <li>
                    <a href="{{ url_for('user_profile', user_id=user.id) }}">
                        {{ user.username }}: {{ user.fName }} {{ user.lName }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>There are no users that fit this category</li>
        {% endif %}
    </ul>

    <h2>All users</h2>
    <ul class="user-list">
        {% if has_users %}
            {% for user in users %}
                <li>
                    <a href="{{ url_for('user_profile', user_id=user.id) }}">
                        {{ user.username }}: {{ user.fName }} {{ user.lName }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>There are no users that fit this category</li>
        {% endif %}
    </ul>
</div>
{% endblock %}
