<html>
    <head>
        {% block more_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">        
        {% endblock %}
    </head>

    <body>

        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('index') }}">Profile</a></li>
                <li><a href="{{ url_for('finder') }}">Finder</a></li>
            </ul>
        </nav>

        <h1>Welcome to {{ user.username }}'s profile</h1>
        <h2>Their name is {{ user.fName }} {{ user.lName }}</h2>
        <h2>Their class year is {{ user.year }} </h2>
        <h2>Their major is {{ user.major }}</h2>
        <h2>Their email is {{ user.email }}</h2>

        <div class="button">
            {% set uid = user.id | string() %}
            {% set pic_link = "/otherPic/" ~ uid %}
            <a href="{{ pic_link }}">Click here to see their profile pic</a>    
        </div>

        <div>
            <h3>Here are the comments on their profile</h3><br>
            {% for comment in user.comments %}
                {% if comment.username == current_user.username%}
                    {% set cid = comment.id | string() %}
                    {% set link = "/deleteOther/" ~ cid ~ "/" ~ user.id %}
                    <p> {{ comment.username }}: {{ comment.comments }}</p> <p> <a href="{{ link }}">delete comment</a></p><br>
                {% else %}
                    <p> {{ comment.username }}: {{ comment.comments }}</p><br>
                {% endif %}
            {% endfor %}
        </div>
    
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.comments.label }}<br>
                {{ form.comments(size=32) }}<br>
            </p>
            <p> {{ form.submit() }} </p>
        </form>

    </body>
</html>